
:host {
display: flex;
flex-direction: column;
flex-grow: 1;

width: 100%;
padding: 0;

box-sizing: border-box;
transform: translateZ(0);
background: var(--timelineRulerBackgroundColor, rgb(32, 50, 70));


--scrollBarTrackBackgroundColor: rgb(24, 38, 53);
--scrollBarTrackBackgroundColor: var(--colorTertiaryDarken2, rgb(24, 38, 53));
--scrollBarTrackCornerBackgroundColor: rgb(24, 38, 53);
--scrollBarTrackCornerBackgroundColor: var(--colorTertiaryDarken2, rgb(24, 38, 53));


}

*,
*:after,
*:before {
box-sizing: border-box;
}

.rux-timeline__header,
.rux-timeline__footer {
position: relative;

display: flex;
align-items: center;

padding: 0 1em;

background-color: var(--timelineHeaderBackgroundColor, rgb(32, 50, 70));

z-index: 10;
}

.timeline-scale {
  display: flex;
  align-content: flex-start;
  align-items: center;
  margin: 0 1rem 0 auto;

  

  width: 190px;
}

.timeline-scale rux-slider {
  /* outline: 1px solid red; */
}

.timeline-scale rux-icon {
  /* outline: 1px solid red; */
  margin: 0;
}

.rux-timeline__header {
  padding: 1.5rem 1.25rem;
  justify-content: center;
}

.rux-timeline__header h1 {
font-size: 1.25rem;
font-weight: 300;
margin-left: 0.5em;
}

.rux-timeline__header rux-slider {
margin-left: auto;
margin-right: 1rem;
}

/* the default .rux-button__icon expects you to be using .rux-button--large on the parent */
.rux-timeline__header .rux-button .rux-button__icon {
  height: 1.1rem;
  width: 1.1rem;
  margin-left: -0.3125rem;
}


.rux-timeline__footer {
display: none;
}


rux-timeline-track {
/* height: 60px; */
margin: 2px 0;
}



rux-timeline-track {
background-color: var(--timelineTrackBackgroundColor, rgb(40, 63, 88));
}

#rux-timeline__ruler {
display: flex;
justify-content: space-between;
position: relative;
margin-top: auto;
color: var(--fontColor, rgb(255,255,255));

background-color: var(--timelineRulerBackgroundColor, rgb(32, 50, 70));
height: 2em;
width: 100%;

/* box-shadow: 0 -2px 6px rgba(0,0,0,0.2) */
}

#rux-timeline__ruler div {
font-size: 0.675rem;
/* top: 0; */
height: 20px;
width: 100%;
/* position: absolute; */
border-left: 1px solid rgba(255, 255, 255, 0.1);
padding-left: 0.25rem;


/* border: 1px solid red; */
/* padding: 0.35rem 0 0 0.35rem; */
}


#rux-timeline__playhead {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 3px;
background-color: rgba(255,255,255,0.4);
z-index: 100;
display: none;
}


#rux-timeline__current-time {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 1px;
background-color: #5cb3ff;
z-index: 200;
display: none;
}
#rux-timeline__current-time::before {
content: "";
position: absolute;
top: 0;
left: -6px;
height: 5px;
width: 13px;
background-color: #5cb3ff;
}

#rux-timeline__current-time::after {
content: "";
position: absolute;
top: 5px;
left: -6px;
height: 5px;
width: 13px;
border-color: #5cb3ff;

border-top: 6px solid #5cb3ff;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
}


.rux-timeline__viewport {
  position: relative;
  display: flex;
  
  justify-content: flex-start;
  width: 100%;
  z-index: 5;
  
  overflow-y: hidden;
}


.rux-timeline__track__label-container {
  
  
  width: 100%;
  background-color: var(--timelineTrackLabelBackgroundColor, rgb(40, 63, 88));
  font-size: 0.875rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  
  height: 60px;
  margin: 2px 1px 2px 0;
  
}

.rux-timeline__track__subtracks {
  width: 100%;
  background-color: #203246;
}

.rux-timeline__track__label-container[selected] {
  height: auto;
}

.rux-timeline__track__label-container[selected] .rux-timeline__track__subtracks {
 display: block;
}

.rux-timeline__track__label--subtrack {
  background-color: var(--colorTertiaryDarken2);
  margin: 2px 0;
}

.rux-timeline__track__label--subtrack:last-of-type {
  margin: 2px 0 0 0;
}

.rux-timeline__track__label {
  
  
  width: 100%;
  
  font-size: 0.875rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  padding: 0 0.9875rem;
  
  flex-grow: 0;
  

}

.rux-timeline__track__label:not(.rux-timeline__track__label--subtrack) {
  cursor: pointer;
}
.rux-timeline__track__label:not(.rux-timeline__track__label--subtrack)::before {
  content: '';
  display: inline-block;
  align-self: flex-start;
  margin: 1rem 0.5rem 0 -0.5rem;
  width: 6px;
  height: 6px;
  
  
  border-style: solid;
  border-width: 6px 0 6px 6px;
  
  border-color: transparent transparent transparent var(--colorSecondary);
  transition: transform 0.167s ease-in-out;
  
}


.rux-timeline__track__label-container[selected] .rux-timeline__track__label::before {
  transform: rotate(90deg); 
}

.rux-timeline__track__subtracks {
  /* display: none; */
  display: none;
}


.rux-timeline__viewport__labels {
  flex-shrink: 0;
  position: relative;
  width: 12.875rem;
  z-index: 200;
  margin-right: 2px;

  /* background-color: var(--timelineHeaderBackgroundColor, rgb(24, 38, 53)); */
  /* box-shadow: 5px 0 2.5px rgba(0,0,0,0.13); */
}

#rux-timeline__viewport__tracks {
  
  height: auto;
  position: relative;
  /* padding-top: 10px; */
}

#rux-timeline__tracks {
  position: relative;
  
}

#rux-timeline__viewport__track-container {
  position: relative;
  overflow-y: hidden;
  z-index: 0;
  width: 100%;
}

.rux-timeline__filter {
  list-style: none;
  padding: 0;
  margin: 0;
}