:host {
	position: absolute;
	display: flex;
	flex-direction: column;

	font-size: 0.875rem;
	top: 0;
	background-color: var(--timelineRegionBackgroundColor, rgb(0, 36, 57));
	color: var(--timelineRegionTextColor, rgb(255,255,255));
	overflow: hidden;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	

	border: 1px solid var(--timelineRegionBorderColor, rgb(0, 90, 143));
	/* transition: border 0.667s ease-in-out; */

	box-sizing: border-box;
	height: 60px;

	z-index: 1;
	/* background-color: red; */
	filter: none;
}

:host([status=critical]),
:host([status=critical][selected])  {
	border: 1px solid var(--colorCritical, rgb(255, 42, 4));
}

:host([status=serious]),
:host([status=serious][selected])  {
	border: 1px solid var(--colorCaution, rgb(255, 175, 61));
}

:host([status=caution]),
:host([status=caution][selected])  {
	border: 1px solid var(--colorCaution, rgb(250, 216, 0));
}


:host([hidden]) {
	/* filter: saturate(50%); */
	background-color: #203246;
	opacity: 0.8;
	z-index: 0;
	border-color: #203246;
	/* display: none; */
}



*,
*:after,
*:before {
	box-sizing: inherit;
}

.filtered {
	opacity: 0.5;
}

/*
Placeholders for variable sized timelines
:host(.large) {
}

:host(.medium) {
}

:host(.small) {
}

:host(.compact) {
}
*/
:host(.current),
:host([temporality='present']) {
	border: 1px solid #4dacff;

	transition: border 0.267s ease-in-out;
}

:host([selected]) {
	/* border: 1px solid var(--timelineRegionSelectedBorderColor, rgb(77, 172, 255)); */
	border: 1px solid #fff;
	background-color: var(--colorSecondaryDarken2, rgb(43, 101, 155));
	color: var(--timelineRegionSelectedTextColor, rgb(255,255,255));
	z-index: 1;
}

:host([temporality='past']) {
	color: rgba(255,255,255,0.5);
	/* filter: brightness(85%); */
}


:host(.future),
:host([temporality='future']) {
	border: 1px dotted var(--timelineRegionSelectedBorderColor, rgb(77, 172, 255));
}


.rux-region__segment {
	display: flex;
	align-items: center;
	padding: 0 1em;
	margin: 0;
	height: 30px !important;
	line-height: 1;
}

.rux-region__header {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	height: 50%;
}

:host .rux-region__label {
	white-space: nowrap;
	overflow: hidden;

	text-overflow: ellipsis;
}
/* 
placeholders for variant sizes
:host(.standard) .rux-region__label {
}

:host(.medium) .rux-region__label {
} */

:host(.small) .rux-region__label {
	width: 45px;
}

:host(.compact) .rux-region__label {
	display: none;
}

.rux-region__header rux-status {
	margin-right: 0.5rem;
}



:host .rux-region__time {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	height: 50%;
}

/* 
placeholder for variant sizes
:host(.standard) .rux-region__time {
}

:host(.medium) .rux-region__time {
	/* display: none; * /
} */

:host(.small) .rux-region__time {
	display: none;
}

:host(.compact) .rux-region__time {
	display: none;
}

.rux-region__time__end-time {
	margin-left: 0.25rem;
}

.rux-region__time__end-time::before {
	content: "-";
	margin-right: 0.25rem;
}