:host {
	display: flex;
	width: 100%;
	
	flex-wrap: wrap;
	opacity: 0;

	transition: opacity 1s ease-out;
}

:host([selected]) {
	/* height: auto; */
	height: auto;
}



:host([loaded]) {
	opacity: 1;
}

:host([selected]) .rux-timeline-region--main {
	/* height: auto; */
	display: none;
}

.rux-timeline__track__subtracks {
	background-color: var(--colorTertiaryDarken2);
	
	display: none;
}

:host([selected]) .rux-timeline__track__subtracks {
	display: block;
	background-color: #203246;
	width: 100%;
}


.rux-timeline__track {
	background: linear-gradient(to right, var(--timelineTrackLabelBackgroundColor) 0, var(--timelineTrackLabelBackgroundColor) var(--playhead), var(--colorTertiaryDarken2) var(--playhead), var(--colorTertiaryDarken2) 100%);
}

.rux-timeline__track,
.subtrack {
	position: relative;
	display: block;
	height: 60px;
	width: 100%;

	box-sizing: border-box;
	overflow: hidden;
}


.subtrack {
	margin: 2px 0;
	/* background-color: var(--colorTertiaryDarken2); */
	background: linear-gradient(to right, var(--colorTertiaryDarken2) 0, var(--colorTertiaryDarken2) var(--playhead), var(--colorTertiaryDarken3) var(--playhead), var(--colorTertiaryDarken3) 100%);
}

.subtrack:last-of-type {
	margin: 2px 0 0 0;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

.rux-timeline__track {
	position: relative;
	/* height: 100%; */
	
}

ol {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
}