<div class="container" label="[[label]]: [[_formatTime(_startTime)]]-[[_formatTime(_endTime)]]">
	<div class="rux-region__segment rux-region__header rux-region__segment rux-region__header">
		<rux-status class="light-theme" status=[[status]]></rux-status>
		<div class="rux-region__label">[[label]]</div>
	</div>
	<div class="rux-region__segment rux-region__time">
		<span class="rux-region__time__start-time">[[_formatTime(_startTime)]]</span>
		<span class="rux-region__time__end-time">[[_formatTime(_endTime)]]</span>
	</div>
</div>