<header class="rux-timeline__header" on-click="_setParams">
	<ol class="rux-timeline__filter">
		<li>
			<rux-segmented-button data={{filters}} selected={{selected}}></rux-segmented-button>
		</li>
	</ol>

	<div class="timeline-scale">
		<rux-icon icon="component:search" size="14"></rux-icon>
		<rux-slider min=[[_minScale]] max=[[_maxScale]] hide-input=true val={{_scale}}></rux-slider>
		<rux-icon icon="component:search" size="18"></rux-icon>
	</div>


	<div class="rux-timeline__header__actions">
		<button class="rux-button rux-button--icon" on-click="notifyParentToCreateContact">
			<i class="rux-button__icon">
				<rux-icon class="rux-icon" icon="component:add-large" size="16" color="#FFF"></rux-icon>
			</i>
			Add a Contact
		</button>
	</div>

</header>

<section class="rux-timeline__viewport">

	<!-- 
		Labels for each timeline track are derived from the tracks property.
		An alternative method would be to have labels encapsulated within
		the rux-timeline element, but it creates problems calculating scaling
		and scrolling the timeline when expanded.
	-->
	<div class="rux-timeline__viewport__labels" role="tree">
		<template is="dom-repeat" id="rux-timeline-tracks" items=[[tracks]]>

			<div id$="label-[[index]]" label=[[item.label]] index$="[[index]]" role="treeitem" on-click="_onClick"
				class="rux-timeline__track__label-container">
				<div class="rux-timeline__track__label">[[item.label]]</div>

				<div class="rux-timeline__track__subtracks">
					<template is="dom-repeat" items=[[item.antennae]] as="antennae" initial-count="1">
						<div class="rux-timeline__track__label rux-timeline__track__label--subtrack">[[antennae.label]]</div>
					</template>
				</div>

			</div>
		</template>
	</div>

	<div id="rux-timeline__viewport__track-container">
		<div id="rux-timeline__viewport__tracks">
			<div id="rux-timeline__tracks" role="tree">
				<template is="dom-repeat" id="rux-timeline-track-template" items=[[tracks]] initial-count="1">
					<rux-timeline-track role="treeitem" aria-labelledby$="label-[[index]]" data=[[item.antennae]]
						label=[[item.label]] index=[[index]] filter=[[filters.selected.value]] playhead=[[_loc]] scale=[[_scale]]
						duration=[[duration]] test=[[test]] selected-region={{selectedRegion}}></rux-timeline-track>
				</template>


			</div>
			<div id="rux-timeline__current-time"></div>
			<div id="rux-timeline__playhead"></div>
			<div id="rux-timeline__ruler"></div>
		</div>

	</div>

</section>

<footer class="rux-timeline__footer">Footer FPO</footer>