<div class="rux-timeline__track">
	<ol class="rux-timeline__regions">
		<template is="dom-repeat" id="regionsElements" items=[[data]] as="group">
			<template is="dom-repeat" items=[[group.passSlots]] filter="isReserved" as="pass">
				<li>
					<rux-timeline-region class="rux-timeline-region rux-timeline-region--main" label=[[pass.label]]
						status=[[pass.status]] reserved=[[pass.reserved]] start-time=[[pass.startTime]] end-time=[[pass.endTime]]
						filter=[[filter]] detail=[[pass.passDetail]] scale=[[scale]] track-width=[[trackWidth]]
						duration=[[duration]] selected-region-label=[[selectedRegion.label]] on-click="_onClick">
					</rux-timeline-region>
				</li>
			</template>
		</template>
	</ol>
</div>

<div class="rux-timeline__track__subtracks">
	<template is="dom-repeat" id="subtrackRegionsElements" items=[[data]] as="group">
		<div class="subtrack">
			<ol>
				<template is="dom-repeat" items=[[group.passSlots]] filter="isReserved" as="pass">
					<li>
						<rux-timeline-region class="rux-timeline-region rux-timeline-region--subtrack" label=[[pass.label]]
							status=[[pass.status]] reserved=[[pass.reserved]] start-time=[[pass.startTime]] end-time=[[pass.endTime]]
							filter=[[filter]] detail=[[pass.detail]] scale=[[scale]] track-width=[[trackWidth]] duration=[[duration]]
							selected-region-label=[[selectedRegion.label]] on-click="_onClick">
						</rux-timeline-region>
					</li>
				</template>
			</ol>
		</div>
	</template>
</div>
