<div class="detail-pane">
	<div class="detail-pane__wrap">
		<template is="dom-if" if="[[ !editMode ]]">
			<div class="detail-pane__title">
				Contact Details
			</div>
			<div class="detail-pane__main">
				<div class="detail-pane__content">
					<div class="pass-detail__name">
						<rux-status class="rux-status" status="[[ passDetail.status ]]"></rux-status>
						{{ passDetail.label }}
					</div>
					<div class="pass-detail__stat">
						<label class="pass-detail__label" title="Inter-Range Operating Number">
							IRON
						</label>
						<div class="pass-detail__value">
							{{ passDetail.iron }}
						</div>
					</div>
					<div class="pass-detail__stat">
						<label class="pass-detail__label" title="">
							Ground Station
						</label>
						<div class="pass-detail__value">
							{{ passDetail.groundStation }}
						</div>
					</div>
					<div class="pass-detail__stat">
						<label class="pass-detail__label" title="">
							Rev
						</label>
						<div class="pass-detail__value">
							{{ passDetail.rev }}
						</div>
					</div>
					<div class="pass-detail__stat">
						<label class="pass-detail__label" title="">
							DOY
						</label>
						<div class="pass-detail__value">
							{{ formatDayOfYear(passDetail.startTime) }}
						</div>
					</div>
					<div class="pass-detail__stat">
						<label class="pass-detail__label" title="">
							AOS/LOS
						</label>
						<div class="pass-detail__value">
							{{ formatReadableTime(passDetail.startTime) }} / {{ formatReadableTime(passDetail.endTime) }}
						</div>
					</div>
					<div class="pass-detail__stat">
						<label class="pass-detail__label" title="">
							Duration
						</label>
						<div class="pass-detail__value">
							{{ passDetail.durationMins }}:00
						</div>
					</div>
					<div class="pass-detail__stat">
						<label class="pass-detail__label" title="">
							Priority
						</label>
						<div class="pass-detail__value">
							{{ mapPriority(passDetail.detail.priority) }}
						</div>
					</div>
					<div class="pass-detail__stat">
						<label class="pass-detail__label" title="">
							Command Mode
						</label>
						<div class="pass-detail__value">
							{{ mapAutomationMode(passDetail.detail.autoMode) }}
						</div>
					</div>
					<div class="pass-detail__stat">
						<label class="pass-detail__label" title="">
							Equipment String
						</label>
						<div class="pass-detail__value">
							{{ passDetail.detail.equipmentConfig.label }}
						</div>
					</div>
					<div class="pass-detail__value pass-detail__value-detail">{{ passDetail.detail.equipmentConfig.string }}</div>
				</div>
				<div class="detail-pane__content detail-pane__content--actions">
					<button class="rux-button rux-button--outline" on-click="closePane">
						Close
					</button>
					<button class="rux-button" on-click="editContact">
						Modify Contact&hellip;
					</button>
				</div>			
			</div>
		</template>

		<template is="dom-if" if="[[ editMode ]]">
			<template is="dom-if" if="[[ detailAvailable ]]">
				<div class="detail-pane__title">
					Modify Contact
				</div>
			</template>
			<template is="dom-if" if="[[ !detailAvailable ]]">
				<div class="detail-pane__title">
					Add Contact
				</div>
			</template>
			<div class="detail-pane__main">
				<div class="detail-pane__content">
					<h4 class="detail-pane__content__subheader">1. Choose a Contact to Reserve</h4>
					<div class="pass-detail__stat rux-form-field">
						<label class="pass-detail__label" title="Inter-Range Operating Number">
							IRON
						</label>
						<div class="pass-detail__input">
							<select id="iron" class="rux-select" value="{{ currentFilters.iron::change }}">
								<option value='any'>- Any -</option>
									<template is="dom-repeat" items="[[ potentialIRONValues ]]">
										<option value$="{{ item.iron }}" selected$="[[is(currentFilters.iron, item.iron)]]">
											{{ item.iron }}</option>
									</template>
							</select>
						</div>
					</div>

					<div class="pass-detail__stat rux-form-field">
						<label class="pass-detail__label" title="">
							Ground Station
						</label>
						<div class="pass-detail__input">
							<select id="iron" class="rux-select" value="{{ currentFilters.groundStation::change }}">
								<option value='any'>- Any -</option>
									<template is="dom-repeat" items="[[ groundStations ]]">
										<option value$="{{ item.callsign }}" selected$="[[is(currentFilters.groundStation, item.callsign)]]">
											{{ item.callsign }}</option>
									</template>
							</select>
						</div>
					</div>

					<div class="pass-detail__stat rux-form-field">
						<label class="pass-detail__label" title="Day of Year (Locked to today in demo)">
							DOY
						</label>
						<div class="pass-detail__input">
							<select id="doy" class="rux-select" disabled value="{{ formatDayOfYear(currentTime) }}">
								<option value$="{{ formatDayOfYear(currentTime) }}" selected>
									{{ formatDayOfYear(currentTime) }}</option>
							</select>
						</div>
					</div>


					<div class="filter-results">
						<div class="available-passes__header-labels">
							<span class="available-passes__pass__label">Contact</span>
							<span class="available-passes__pass__aos">AOS</span>
							<span class="available-passes__pass__los">LOS</span>
						</div>
						<ul class="available-passes">

							<template is="dom-if" if="[[ !availablePasses.length ]]">
								<template is="dom-if" if="[[ !multipleFiltersSet(currentFilters) ]]">
									<div class="available-passes__no-items">
										Choose an IRON or Ground Station to list available passes.
									</div>
								</template>
								<template is="dom-if" if="[[ multipleFiltersSet(currentFilters) ]]">
									<div class="available-passes__no-items available-passes__no-items--filtered">
										No passes available based on above selections. Choose another IRON or Ground Station.
									</div>
								</template>
							</template>
								<template is="dom-repeat" as="pass" items="[[ availablePasses ]]" sort="{{sortPassesByAOS}}">
									<li selected$="[[ is(pass.label, selectedLabel) ]]" class="available-passes__pass" on-click="selectPass">
										<span class="available-passes__pass__label">{{ pass.label }}</span>
										<span class="available-passes__pass__aos">{{ formatReadableTime(pass.startTime) }}</span>
										<span class="available-passes__pass__los">{{ formatReadableTime(pass.endTime) }}</span>
									</li>
								</template>
						
						</ul>
					</div>

				</div>

				<div class="detail-pane__content">
					<h4 class="detail-pane__content__subheader">2. Configure Reservation Options</h4>
					<div class="pass-detail__stat rux-form-field">
						<label class="pass-detail__label" title="Priority (Low, Medium, High)">
							Priority
						</label>
						<div class="pass-detail__input">
							<select id="priority" class="rux-select" value="{{ draftReservationDetail.priority::change }}">
								<template is="dom-repeat" items="[[ priorities ]]">
									<option value$="{{ item }}" selected$="[[is(draftReservationDetail.priority, item)]]">
										{{ mapPriority(item) }}</option>
								</template>
							</select>
						</div>
					</div>

					<div class="pass-detail__stat rux-form-field">
						<label class="pass-detail__label" title="Mode">
							Command Mode
						</label>
						<div class="pass-detail__input">
							<select id="priority" class="rux-select" value="{{ draftReservationDetail.autoMode::change }}">
								<template is="dom-repeat" items="[[ modes ]]">
									<option value$="{{ item }}" selected$="[[is(draftReservationDetail.autoMode, item)]]">
										{{ mapAutomationMode(item) }}</option>
								</template>
							</select>
						</div>
					</div>

					<div class="pass-detail__stat rux-form-field">
						<label class="pass-detail__label" title="Equipment String">
							Equipment String
						</label>
						<div class="pass-detail__input">
							<select id="eqstrings" class="rux-select" value="{{ draftReservationDetail.equipmentConfig::change }}">
								<template is="dom-repeat" items="[[ equipmentConfigs ]]">
									<option value$="{{ index }}" selected$="[[is(draftReservationDetail.equipmentConfig, item.index)]]">
										{{ item.label }}</option>
								</template>
							</select>
						</div>
						<div class="pass-detail__value pass-detail__value-detail">{{ getEquipmentStringByIndex(draftReservationDetail.equipmentConfig) }}</div>

					</div>
				</div>
				<div class="detail-pane__content detail-pane__content--actions">
					<button class="rux-button rux-button--outline" on-click="closePane">
							<template is="dom-if" if="[[ isNull(draftContact) ]]">
									<template is="dom-if" if="[[ !detailAvailable ]]">Close</template>
									<template is="dom-if" if="[[ detailAvailable ]]">Cancel</template>
							</template>
							<template is="dom-if" if="[[ !isNull(draftContact) ]]">
								Cancel
							</template>
					</button>

					<template is="dom-if" if="[[ detailAvailable ]]">
						<button class="rux-button" disabled$="[[ isNull(draftContact)]]" on-click="saveContact">
							Save Contact
						</button>
					</template>

					<template is="dom-if" if="[[ !detailAvailable ]]">
						<button class="rux-button" disabled$="[[ isNull(draftContact)]]" on-click="saveContact">
							Add Contact
						</button>
					</template>

				</div>			
			</div>
		</template>
	</div>
</div>