:host {
	white-space: nowrap;
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	--fontFamilyMono: "Roboto Mono", "Menlo", monospace;
	font-size: 14px;
	width: 420px;
}

.detail-pane {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
}
.detail-pane__title {
	font-size: 1.4rem;
	padding: 1rem 1.5rem .5rem;
}
.detail-pane__main {
	padding: .5rem 1.5rem;
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
}
.detail-pane__wrap {
	overflow-y: auto;
	–webkit-overflow-scrolling: touch;
	height: 100%;
	position: absolute;
}
.detail-pane__content {
	padding: 0;
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
}
.detail-pane__content__empty {
  padding: 0.7rem 1.25rem;
	background-color: var(--colorStandbyLighten1, rgb(160, 232, 255));
	color: var(--colorBlack, rgb(0, 0, 0));

}
.detail-pane__content__subheader {
	margin: .5rem 0 .5rem;
}

.detail-pane__content--actions {
	padding: .75rem 0;
	flex-flow: row nowrap;
	justify-content: flex-end;
}
.detail-pane__content--actions .rux-button {
}
.detail-pane__content--actions .rux-button:first-child {
	margin-right: 2%;
}

.pass-detail__name {
	padding: .5rem 0;
	font-size: 1.2rem;
	font-weight: bold;
	display: flex;
	align-items: center;
}
.pass-detail__name .rux-status {
	margin-right: .75rem;
	width: 1rem;
}
.pass-detail__stat {
	display: flex;
	flex-shrink: 0;
	margin: .3rem 0;
	font-size: 14px;
	align-items: center;
}
.pass-detail__stat.rux-form-field {
	margin: .3rem 0;
}
.pass-detail__label {
	padding-right: .5rem;
	flex: 0 0 9rem;
}
.pass-detail__input {
	font-size: 14px;
	padding: 0.2rem .75rem;
	white-space: normal;
}
.pass-detail__value {
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	background: rgba(20, 31, 44, 1);
	padding: 0.5rem .75rem;
	white-space: normal;
	width: 10rem;
}

.pass-detail__value::first-letter {
	text-transform: capitalize;
}

.pass-detail__value-detail {
	margin: .5rem 0;
	width: 100%;

}


.detail-pane__manage-contacts {
	margin-top: auto;
	padding: 1rem 1.5rem 0;
}


.filter-results {
	margin-top: 1rem;
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
}
.available-passes__header-labels {
	display: flex;
	flex-shrink: 0;
	align-content: flex-start;
	align-items: flex-start;
	padding: 0.6rem 1.75rem 0.6rem 0.5rem;
	border: 1px solid rgba(255, 255, 255, 0.0625);
	border-bottom-width: 0;
	width: 100%;
	background: var(--logHeaderBackgroundColor, rgb(20, 32, 44));
	box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.25); /* perhaps just when scroll isn't at top? */
}

.available-passes {
	background: rgba(20, 31, 44, 1);
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 0;
	margin: 0;
	height: 100%;
	min-height: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
	list-style: none;
	width: 100%;
	max-height: 9.2rem;
	margin-bottom: 1rem;
}

.available-passes__pass {
	margin: 0;
	display: flex;
	align-content: flex-start;
	flex-shrink: 0;
	align-items: flex-start;
	padding: 0.6rem .5rem 0.7rem;
	border-bottom: 1px solid #283F59;
	cursor: pointer;
}
.available-passes__pass:hover {
	background: rgba(40, 63, 88, .5);
}
.available-passes__pass[selected] {
	background: var(--colorTertiary, rgb(40, 63, 88));
}

.available-passes__no-items{
	flex-grow: 1;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	align-content: center;
	background: rgba(20, 31, 44, 1);
	color: var(--colorPrimaryLighten3, rgb(211, 234, 255));
	padding: 0.5rem;
	text-align: center;
	width: calc(100% + .4rem);
	white-space: normal;
	margin: 0 -.2rem;
}
.available-passes__no-items a {
	color: var(--white, rgb(255, 255, 255));
	cursor: pointer;
	text-decoration: underline;
	font-weight: 500;
}

.available-passes__pass__label {
	flex-grow: 1;
	text-align: left;
	padding: 0 .5rem;
	align-self: center;
}
.available-passes__pass__aos,
.available-passes__pass__los {
	width: 4.5rem;
	flex-grow: 0;
	flex-shrink: 1;
	text-align: left;
	padding: 0 1rem;
	align-self: center;
}

.rux-select {
	padding-right: 2rem;
	line-height: 1.5rem;
}
